<article id="category-view" class="category_<%= @category.slug %>">
    <%= render partial: 'partials/breadcrumb', locals: {breadcrumb: @category.the_breadcrumb } %>
    <h2><%= @category.the_title %></h2>
    <div class="content">
        <%= raw @category.the_content %>
    </div><br><br>

    <% if @children.present? %>
        <div class="panel panel-default no-line">
            <div class="panel-heading"><%= t('common.sub_categories') %></div>
            <div class="panel-body">
                <%= render partial: "partials/categories_list", locals: {categories: @children } %>
            </div>
        </div>
    <% end %>

    <div class="panel panel-default post_list no-line">
        <div class="panel-heading"><%= t('common.content') %></div>
        <div class="panel-body">
            <div class="row">
                <% @posts.each_with_index do |post, index| %>
                    <%= raw "<div class='clearfix'></div>" if index%3 == 0 && index > 0 %>
                    <%= render partial: 'partials/post_list_item', locals: {post: post.decorate} %>
                <% end %>
            </div>
            <%= content_tag("div", raw(ct('no_contents_found')), class: "alert alert-warning") if @posts.empty? %>
            <%= will_paginate @posts, renderer: BootstrapPagination::Rails if @posts.present? %>
        </div>
    </div>

</article>
