<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
    <div class="row">
        <% home_page = (current_site.the_post(current_theme.get_field("home_page").to_i) || current_site.the_posts("page").first).decorate %>
        <h2 class="center-align"><%= home_page.the_title %></h2>
        <div><%= raw home_page.the_content %></div>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /ww -->

<!-- +++++ Projects Section +++++ -->
<div class="container pt">
  <h3 class="center-align"><%= ct("latest_articles") %></h3>
    <div class="row mt centered latest_articles">
    <% current_site.the_posts(current_theme.get_field("recent_post_type")).latest.limit(current_theme.get_field("home_qty")).decorate.each do |post| %>
      <!-- PORTFOLIO ITEM -->
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img width="400" height="300" src="<%= post.the_thumb_url("/assets/themes/openportal/assets/images/image.png") %>" class="attachment-post-thumbnail wp-post-image" alt="post image" />    </a>
            <span class="card-title"><%= post.the_title %></span>
          </div>
          <div class="card-content">
            <p><%= post.the_created_at(format = 'long') %></p>
          </div>
          <div class="card-action">
            <a href="<%= post.the_url %>">LINK</a>
          </div>
        </div>
      </div>
    <% end %>
    </div><!-- /row -->
</div><!-- /container -->
