<!-- header -->
    <nav class="white" role="navigation">
      <div class="navbar white navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <a id="logo" href="<%= root_path %>"><%= image_tag current_site.the_logo, class: "pull_left img-responsive logo" %></a>
          <a class="navbar_brand green-text nav_bar_title" href="<%= root_path %>"><%= current_site.name %></a>
          <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
          <div class="nav_bar_menu"><%= raw get_nav_menu('main_menu', 'nav navbar-nav') %></div>
          <div class="hidden-xs hidden-sm"><%= render partial: 'partials/search_form' %></div>
          <!-- <%= render partial: 'partials/nav_bar_user_profile' %> -->
          <div class="hidden-xs hidden-sm"><%= raw current_site.draw_languages("language list-inline pull-right", true) %></div>
        </div>
      </div>
    </nav>
    <nav class="green" role="navigation">
    </nav>
    <div class="nav_bar_search container visible-xs visible-sm">
      <%= raw current_site.draw_languages("language list-inline pull-right", true) %>    
      <%= render partial: 'partials/search_form' %>
    </div>
 <!-- ./header -->     	   	