<!-- header -->

<div class="navbar-fixed">
  <nav class="green" role="navigation">
    <div class="nav-wrapper container">
      <a href="<%= cama_root_path %>" class="brand-logo"><%= image_tag current_site.the_logo %></a>
      <a href="<%= cama_root_path %>" class="brand-logo title center"><%= current_site.name %></a>
      <ul class="right hide-on-med-and-down">
        <%= render partial: 'partials/nav_bar_user_profile' %>
      </ul>
      <div class="hidden-xs hidden-sm"><%= render partial: 'partials/search_form' %></div>
      <ul class="right hide-on-med-and-down">
        <%= raw draw_menu({ menu_slug:       "main_menu",
                            container_class: "right hide-on-med-and-down",
                            item_current:    "active",
                            sub_class:       "dropdown-menu",
                            callback_item:   lambda{|args|
                              if args[:has_children]
                                args[:settings][:after] = '<i class="material-icons right">arrow_drop_down</i>'
                              end
                            }}) %>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <%= render partial: 'partials/nav_bar_user_profile' %>
        <li><a href="<%= cama_root_path %>">OpenPortal<i class="material-icons left">home</i></a></li>
        <%= raw draw_menu({ menu_slug:         'main_menu',
                            container_class:   "",
                            item_current:      'active', #class for current menu item
                            callback_item:     lambda{|args|
                              args[:settings][:before] = '<i class="material-icons left">comment</i>'
                              if args[:has_children]
                                args[:settings][:after] = '<i class="material-icons right">arrow_drop_down</i>'
                              end
                            }}) %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>
</div>

<div class="fixed-action-btn" style="bottom: 30px; right: 35px;">
  <a class="btn-floating btn-large green">
    <i class="material-icons">language</i>
  </a>
  <ul>
    <% current_site.the_languages.each do |l| %>
    <%  path = l.to_s+'.png' %>
    <li>
      <% if I18n.locale.to_s.eql?(l.to_s); class_color='green' else class_color='grey lighten-3' end %>
      <a class="btn-floating btn-large <%= class_color %>"
      href="<%= if site_current_path.include? I18n.locale.to_s then site_current_path.gsub(I18n.locale.to_s,l.to_s) else l.to_s+site_current_path end %>">
      <img src="<%= asset_path(theme_asset_path("images/"+l.to_s+".png"))%>" /></a>
    </li>
    <% end %>
  </ul>
</div>
<div class="space white visible-xs visible-sm"></div>
<div class="nav_bar_search container visible-xs visible-sm">
  <%= render partial: 'partials/search_form' %>
</div>
 <!-- ./header -->
