          <ul class="hide-on-med-and-down right">
            <% if signin?  %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="<%= cama_current_user.decorate.the_avatar %>" style="max-width: 36px; border-radius: 50%" alt=""/><%= current_user.username %></a>
              <ul class="dropdown-menu">
                <li><a href="<%= cama_admin_dashboard_path %>">Dashboard</a></li>
                <li><a href="<%= cama_admin_profile_path %>">Profile</a></li>
                <li><a href="<%= cama_admin_logout_path %>">Logout</a></li>
              </ul>
            </li>
            <% else %>
            <li class="dropdown">
              <a id="login-user" class="dropdown-toggle" data-toggle="dropdown" href="#">Login / Register</a>
              <ul class="dropdown-menu">
                <li><a href="<%= cama_admin_login_path %>">Login</a></li>
                <li><a href="<%= cama_admin_register_path %>">Register</a></li>
              </ul>
            </li>
            <% end %>
          </ul>
